body { /*selector de etiqueta body*/
    font-family: 'Open Sans', sans-serif; /*funte tipografica*/
    font-weight: 400; /*grosor de la letra*/
    font-size: 13px; /*tamaño de la letra*/
    line-height: 1.8; /*altura de interliniado*/
    height: 100%; /*altura del body*/
    width: 100%; /*ancho del body*/
    position: relative;
    margin: auto;
}
#container {
    background-color: black; /*seleccionamos el color de fondo de la pagina*/
    margin: auto;
    justify-content: center;
    color: white;
}
#superior { /*selector para el div con id=fondo*/
    height: 300px; /*altura del div */
    background-image: url("../imagenes/logo_ford.jpg"); /* poner imagen de fondo*/
    background-size: cover; /* para que la image cubra todo el div*/
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-position: center;
}
#logo {
    width: 25%;
    float: left; /*flotar a la izquierda*/
    background-size: contain;
    background-repeat: no-repeat;
}
#logo img{
    width: 200px;
    height: 150px;
}
#menu {
    width: 70%;
    float: left; /*flotar a la izquierda*/
    justify-content: center;
}
h1 { /*selecciona todas las etiquetas h1*/
    font-size: 40px; /*tamaño de la letra*/
    color: white; /*color de las letras*/
    line-height: 2.0; /*altura de interliniado*/
    font-weight: 800; /*grosor de la letra*/
    text-transform: uppercase; /*pone el texto en mayusculas*/
    text-align: center;
}
h2 { /*selecciona todas las etiquetas h2*/
    font-size: 40px; /*tamaño de la letra*/
    color: white; /*color de las letras*/
    line-height: 1.2; /*altura de interliniado*/
    font-weight: 300; /*grosor de la letra*/
    text-transform: uppercase; /*pone el texto en mayusculas*/
    text-align: center;
}
h3{
    font-size: 30px;
    text-align: center;
}
p { /*selecciona todos los parrafos*/
    font-size: 20px; /*tamaño de la letra*/
    line-height: 1.5; /*altura de interliniado*/
    font-weight: 300; /*grosor de la letra*/
    color: white; /*color de las letras*/
}
#featured { /*selector para el div con id=fondo*/
    height: auto; /*altura del div */
    display: grid;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 60px;
    align-items: center;
}
#featured h3{
    border: 2px solid;
}
#featured img { /*selector para el div con id=fondo*/
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*la parte del menu*/
.menu_submenu > a {
    color: #FFFFFF;
    text-decoration: none
}
.menu_submenu:hover > a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
.menu_categorias > a {
    color: #FFFFFF;
    text-decoration: none;
}
.menu_categorias:hover > a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.container_menu {
    width: 100%;
    display: -webkit-box;
    background-color: #F52727;
    height: 50px
}
.container_menu a {
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    padding: 0 5px;
    text-align: center;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease
}
.menu_submenu, .menu_categorias {
    float: left;
    position: relative;
    width: 25%;
    text-align: center;
    display: table;
    border-top: 1px dashed #FF4F4F;
    border-bottom: 1px dashed #CD0000;
    background-position: center;
}
.menu_principal {
    width: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 5;
}
.menu_submenu:hover, .menu_categorias:hover {
    background-color: #FF4F4F;
    border-top: 1px dashed #FF7777;
    border-bottom: 1px dashed #D72727
}
.menu_submenu {
    width: 100%;
    text-align: center;
    display: table;
}
.menu_principal a {
    background-position: center;
    text-align: center;
    background-color: #FF7777;
    border-top: 1px dashed #FF9F9F;
    border-bottom: 1px dashed #D74F4F;
}
.menu_principal a:hover {
    background-position: center;
    background: #FF9F9F;
    border-top: 1px dashed #FFC7C7;
    border-bottom: 1px dashed #D77777;
}
.menu_categorias:hover > .menu_principal {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
/*fin de la parte menu*/
#informacio{
    display: flex;
    justify-content: space-around;
    background-image: url("../imagenes/fondopagfin.jpg");
    text-decoration: none;
    text-align: center;
}
#informacio a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.tablas{
    width: 75%;
    font-size: 20px;
    padding-left: 20%;
}
.alineacioncentro{
    text-align: center;
}
@media (max-width: 1024px){
    #informacio{
        display: flex;
        flex-wrap: wrap;
    }
    #superior{
        height: 400px;
        padding-bottom: 10%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    #logo {
        justify-content: center;
        width: 100%;
        padding-bottom: 5px;
        display: flex;
    }
    #featured{
        height: auto;
        margin: auto;
        display: grid;
    }
    #menu{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        padding-top: 15px;
    }
    .container_menu{
        width: 100vmin;
    }
    .tablas{
        width: auto;
        font-size: 13px;
        padding-left: 0;
    }
}