body { /*selector de etiqueta body*/
    font-family: 'Open Sans', sans-serif; /*funte tipografica*/
    font-weight: 400; /*grosor de la letra*/
    font-size: 13px; /*tamaño de la letra*/
    line-height: 1.8; /*altura de interliniado*/
    height: 100%; /*altura del body*/
    width: 100%; /*ancho del body*/
    position: relative;
    margin: auto;
}
#container {
    background-color: black; /*seleccionamos el color de fondo de la pagina*/
    color: white;
    margin: auto;
    justify-content: center;
}
#superior { /*selector para el div con id=fondo*/
    height: 300px; /*altura del div */
    background-image: url("../imagenes/fondopag.png"); /* poner imagen de fondo*/
    background-size: cover; /* para que la image cubra todo el div*/
    background-position: center; /* para centrar la imagen*/
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
#logo {

    width: 25%;
    float: left; /*flotar a la izquierda*/
    background-size: contain;
    background-repeat: no-repeat;
}
#logo img{
    width: 200px;
    height: 150px;
}
#menu {
    width: 70%;
    float: left; /*flotar a la izquierda*/
    justify-content: center;
}
h1 { /*selecciona todas las etiquetas h1*/
    font-size: 40px; /*tamaño de la letra*/
    color: white; /*color de las letras*/
    line-height: 2.0; /*altura de interliniado*/
    font-weight: 800; /*grosor de la letra*/
    text-transform: uppercase;
    text-align: center;
}
h2 { /*selecciona todas las etiquetas h2*/
    font-size: 40px; /*tamaño de la letra*/
    color: white; /*color de las letras*/
    line-height: 1.2; /*altura de interliniado*/
    font-weight: 300; /*grosor de la letra*/
    text-transform: uppercase; /*pone el texto en mayusculas*/
    text-align: center;
}
h2 a{
    text-decoration: none;
    color: red;
}
h3{
    font-size: 30px;
}
p { /*selecciona todos los parrafos*/
    font-size: 15px; /*tamaño de la letra*/
    line-height: 1.5; /*altura de interliniado*/
    font-weight: 300; /*grosor de la letra*/
    color: white; /*color de las letras*/
}
#featured { /*selector para el div con id=fondo*/
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding-left: 50px;
    padding-right: 60px;
    padding-bottom: 60px;
}
.imagenF { /*Ancho y altura son modificables al requerimiento de cada uno*/
    background-position: center; /* para centrar la imagen*/
    background-repeat: no-repeat; /* para que no se repita la imagen*/
    float: left; /*flotar a la izquierda*/
    height: 33%; /*altura del body*/
    width: 30%; /*ancho del body*/
    margin-left: 20px;
    background-size: cover; /* para que la image cubra todo el div*/
}
.imagenF img { /*para hacer fecto de zoom en foto con los diferentes navegadores*/
    -webkit-transition: all .9s ease; /* Safari y Chrome */
    -moz-transition: all .9s ease; /* Firefox */
    -o-transition: all .9s ease; /* IE 9 */
    -ms-transition: all .9s ease; /* Opera */
    width: 100%;
}
.imagenF:hover img { /*para hacer fecto de zoom en foto con los diferentes navegadores cuando pases el raton por encima*/
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}
/*la parte del menu*/
.menu_submenu > a { /*selector de clase para los enlaces del menu (selecciona los hijos)*/
    color: #FFFFFF;
    text-decoration: none;
}
.menu_submenu:hover > a { /*selector de clase para los enlaces del menu (selecciona los hijos), efecto raton encima*/
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
.menu_categorias > a { /*selector de clase para los enlaces del menu (selecciona los hijos)*/
    color: #FFFFFF;
    text-decoration: none;
}
.menu_categorias:hover > a { /*selector de clase para los enlaces del menu (selecciona los hijos), efecto raton encima*/
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.container_menu { /*la clase general del menu*/
    width: 100%;
    display: -webkit-box;
    background-color: #F52727;
    height: 50px;
}
.container_menu a { /*transicion de los enlaces*/
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    padding: 0 5px;
    text-align: center;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.menu_submenu, .menu_categorias { /*efecto en horizontal de los enlaces*/
    float: left;
    position: relative;
    width: 25%;
    text-align: center;
    display: table;
    border-top: 1px dashed #FF4F4F;
    border-bottom: 1px dashed #CD0000;
    background-position: center;
}
.menu_principal { /*clase general que tiene dentro los menus*/
    width: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 5;
}
.menu_submenu:hover, .menu_categorias:hover { /*para hacer el cambio de color en el desplegable*/
    background-color: #FF4F4F;
    border-top: 1px dashed #FF7777;
    border-bottom: 1px dashed #D72727
}
.menu_submenu { /*para que se muestre como una lista el menu desplegable*/
    width: 100%;
    text-align: center;
    display: table;
}
.menu_principal a { /*selecciona todos los enlaces del general*/
    background-position: center;
    text-align: center;
    background-color: #FF7777;
    border-top: 1px dashed #FF9F9F;
    border-bottom: 1px dashed #D74F4F;
}
.menu_principal a:hover { /*selecciona todas los enlaces del genral con el raton encima*/
    background-position: center;
    background: #FF9F9F;
    border-top: 1px dashed #FFC7C7;
    border-bottom: 1px dashed #D77777;
}
.menu_categorias:hover > .menu_principal { /*para hacer visiblke el memnu desplegable*/
    opacity: 1;
    top: 50px;
    visibility: visible;
}
/*fin de la parte menu*/
#informacio{ /*selector de id para el pìe de pagina*/
    display: flex;
    justify-content: space-around;
    background-image: url("../imagenes/fondopagfin.jpg");
    text-decoration: none;
    text-align: center;
}
#informacio a{ /*selector de los enlaces de id del pie de pagina*/
    text-decoration: none;
    color: white;
    font-size: 18px;
}
/*responsive*/
@media (max-width: 1024px){
    #informacio{
        display: flex;
        flex-wrap: wrap;
    }
    #superior{
        height: 315px;
        padding-bottom: 10px;
    }
    #logo {
        justify-content: center;
        width: 100%;
        padding-bottom: 5px;
        display: flex;
    }
    #featured{
        display: grid;
        height: auto;
        margin: auto;
        justify-items: center;
    }
    .imagenF {
        width: 75%;
        justify-items: right;
    }
    #img3{
        width: 75%;
        justify-items: center;
    }
    #menu{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        padding-top: 15px;
    }
    .container_menu{
        width: 100vmin;
    }

}
/* fin responsive*/